[Desktop Entry]
Name=calc
Comment=Open rofi-calc
Exec=rofi -show calc -modi calc -theme "launchers/text/style_1"
Type=Application
Icon=accessories-calculator
Categories=Utility;Calculator;

#MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
#MimeType=x-scheme-handler/unknown;x-scheme-handler/about;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
